.getmdl-select {
    .mdl-icon-toggle__label {
        float:right;
        margin-top:-30px;
        color: gray;
    }
    &.is-focused{
        i.mdl-icon-toggle__label{
            color: blue;
        }
    }
}